p {
  margin-bottom: 1rem;
}

section {
  padding: 2rem;
  text-align: center;
}

.highlight {
  color: green;
}

.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.centeredCard {
  padding: 2rem;
  margin: 1rem auto;
}

